{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container post">
    <article>
      <div class="ctrolPanel" id="gotop" style="width:50px;height:50px;position:fixed;right:25px;top:85%;overflow:hidden;z-index:10000;">
        <a href="#"><img title="返回顶部" src="http://img.ariser.cn/blog/top21.png" /></a>
      </div>
      <header>
        <div class="post-title">
          <h1 class="title">{{ .Title }}</h1>
        </div>
        <div class="post-meta">
          <div class="date">
            <span class="posted-on">
              <i class="fas fa-calendar"></i>
              <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
                {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
              </time>
            </span>
            <span class="reading-time">
              <i class="fas fa-clock"></i>
              {{ i18n "reading_time" .ReadingTime }}
            </span>
          </div>
          {{ with .Page.Params.Categories }}{{ partial "taxonomy/categories.html" . }}{{ end }}
          {{ with .Page.Params.Tags }}{{ partial "taxonomy/tags.html" . }}{{ end }}
        </div>
      </header>
      {{ if not .Params.notoc }}
          <div id="toc" style="float:right;">
            目录：
            {{ .TableOfContents }}
          </div>
      {{ end }}
      <div>
        {{ .Content }}
      </div>

      <footer>
        {{ partial "posts/series.html" . }}
        {{ partial "posts/disqus.html" . }}
        {{ partial "posts/commento.html" . }}
        {{ partial "posts/utteranc.html" . }}
        
        </br>分享：<div class="social-share" data-sites="wechat,qq,weibo,twitter,facebook" data-mobile-sites="wechat,weibo"></div>
        </br>
        {{ partial "comments.html" . }}
      </footer>
    </article>

    {{ partial "posts/math.html" . }}
  </section>
{{ end }}
